<section ng-controller="datosControlController" ng-init="cargarDatosControl()">
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3"></div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="card card-stats titulo-tabs">
            <div class="card-header titulo-header" >
              <div class="row" >
                <div class="col-md-3">
                  <i class="fa fa-lg fa-heartbeat"></i>
                </div>
                <div class="col-md-6">
                  <h2 class="title" style="font-weight: bold;">Resumen de su progreso</h2>
                </div>
                <div class="col-md-3">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" ng-repeat="datoControl in datosControl" style="margin: 10px;">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
          <div class="card">
            <div class="card-header" data-background-color="green">
              <h4 class="title">Fecha</h4>
              <p class="category">{{ datoControl.fechaDato | date:'dd/MM/yyyy' }}</p>
            </div>
            <div class="card-content panel-body" >
              <div class="table-responsive col-md-6">
                <table class="table">
                  <thead class="text-primary">
                    <th>Dato</th>
                    <th>Medida</th>
                  </thead>
                  <tbody>
                    <tr ng-repeat="dato in datoControl.datos">
                      <td>{{dato.nombreDato}}</td>
                      <td>{{dato.valorDato}}{{dato.unidadDato}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="imageupload col-md-6 portfolio-filters wow fadeInUp " style="padding:0px;">
                  <div class="file-tab row">
                      <div class="col-md-1">
                      </div>
                      <img id="preview" class="thumbnail col-md-10" ng-src="{{datoControl.foto}}" style="max-width: 100%; height: auto;" />
                      <div class="col-md-1">
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-1">
        </div>
      </div>
      
    </div>
  </div>
</section>
