<!-- Tab panes -->
<div >
  <!-- DATOS GENERALES -->
  <div id="DatosGenerales">
    <div class="row">
        <div class="col-md-3 col-sm-3">
          <div  class="form-group"
                ng-class="{'has-error': pacienteForm.cedula.$invalid && !pacienteForm.cedula.$pristine }">
              <label>Cédula*</label>
              <input  type="text"
                      class="form-control border-input"
                      placeholder="Cédula"
                      minlength="10"
                      maxlength="10"
                      name='cedula'
                      onkeypress="return event.charCode>47 && event.charCode<58"
                      data-ng-model="paciente.cedula"
                      required
                      readonly="1">
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div  class="form-group"
                ng-class="{'has-error': pacienteForm.nombres.$invalid && !pacienteForm.nombres.$pristine }">
              <label>Nombres*</label>
              <input  type="text"
                      class="form-control border-input"
                      placeholder="Nombres"
                      minlength="2"
                      maxlength="50"
                      name='nombres'
                      onkeypress="return validateTextInput(event)"
                      data-ng-model="paciente.nombres"
                      required>
          </div>
        </div>
        <div class="col-md-5 col-sm-5">
          <div  class="form-group"
                ng-class="{'has-error': pacienteForm.apellidos.$invalid && !pacienteForm.apellidos.$pristine }">
              <label>Apellidos*</label>
              <input  type="text"
                      class="form-control border-input"
                      minlength="2"
                      maxlength="50"
                      name="apellidos"
                      onkeypress="return validateTextInput(event)"
                      placeholder="Apellidos"
                      data-ng-model="paciente.apellidos"
                      required>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-3">
          <div class="form-group">
            <label>Sexo*</label>
            <select class="form-control border-input" data-ng-model="paciente.sexo" required>
              <option value="Masculino">Masculino</option>
              <option value="Femenino">Femenino</option>
            </select>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="form-group"
               ng-class="{'has-error': pacienteForm.nacimiento.$invalid && !pacienteForm.nacimiento.$pristine }">
            <label>Fecha de Nacimiento*</label>
            <input type="Date"
                   class="form-control border-input"
                   name="nacimiento"
                   data-ng-model="paciente.fechaNacimiento"
                   min="1917-01-01"
                   max="{{returnCurrentDate()}}"
                   required>
          </div>
        </div>
        <div class="col-md-5 col-sm-5">
          <div class="form-group"
               ng-class="{'has-error': pacienteForm.celular.$invalid && !pacienteForm.celular.$pristine }">
            <label>Celular</label>
            <input type="text"
                   class="form-control border-input"
                   maxlength="10"
                   name="celular"
                   onkeypress="return event.charCode>47 && event.charCode<58"
                   placeholder="Celular"
                   data-ng-model="paciente.celular">
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-3">
            <div class="form-group"
                  ng-class="{'has-error': pacienteForm.ocupacion.$invalid && !pacienteForm.ocupacion.$pristine }">
                <label>Ocupación</label>
                <input type="text"
                       class="form-control border-input"
                       name="ocupacion"
                       maxlength="50"
                       onkeypress="return validateTextInput(event)"
                       placeholder="Ocupación"
                       data-ng-model="paciente.ocupacion">
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="form-group">
                <label>Correo Electrónico</label>
                <input type="email"
                       class="form-control border-input"
                       name="email"
                       placeholder="Correo Electrónico"
                       data-ng-model="paciente.email"
                       >
            </div>
        </div>
        <div class="col-md-5 col-sm-5">
            <div class="form-group"
                ng-class="{'has-error': pacienteForm.password.$invalid && !pacienteForm.password.$pristine }">
                <label>Contraseña* (De 8 a 12 caracteres)</label>
                <input type="{{inputType}}"
                       class="form-control border-input"
                       minlength="8"
                       maxlength="12"
                       name="password"
                       placeholder="Contraseña"
                       data-ng-model="paciente.password"
                       required>
                <input type="checkbox" id="checkbox" ng-model="passwordCheckbox" ng-click="hideShowPassword()" />
                <label for="checkbox">Mostrar contraseña</label>
            </div>
        </div>
      </div>    
      <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="form-group"
                  ng-class="{'has-error': pacienteForm.direccion.$invalid && !pacienteForm.direccion.$pristine }">
                <label>Dirección</label>
                <input type="text"
                       class="form-control border-input"
                       name="direccion"
                       maxlength="200"
                       onkeypress="return validateTextNumericInput(event)"
                       placeholder="Dirección"
                       data-ng-model="paciente.direccion">
            </div>
        </div>
    </div>
  </div>
