<section ng-controller="CentroController" data-ng-init="find()">
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3"></div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="panelCal panelCal-stats titulo-tabs">
            <div class="panelCal-header titulo-header" >
              <div class="row" >
                <div class="col-md-3">
                  <i class="fa fa-lg fa-home"></i>
                </div>
                <div class="col-md-6">
                  <h2 class="title" style="font-weight: bold;">Centros</h2>
                </div>
                <div class="col-md-3">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" ng-repeat="centro in centros" style="margin: 10px;">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
          <div class="panelCal">
            <div class="panelCal-header" data-background-color="green">
              <h4 class="title">Información</h4>
            </div>
            <div class="panelCal-content panel-body">
              <div class="row col-md-12">
                <div class="masinfo col-md-5">
                    <div class="row">
                      <p>
                        <label>Dirección: </label>
                        <span data-ng-bind="centro.direccion"></span>
                      </p>
                    </div>
                    <div class="row">
                      <p>
                        <label>Teléfono: </label>
                        <span data-ng-bind="centro.telefono"></span>
                      </p>
                    </div>
                    <div class="row">
                      <p>
                        <label>Horarios de Atención: </label>
                        <span data-ng-bind="centro.horariosAtencion"></span>
                      </p>
                    </div>
                    <div class="row">
                      <p>
                        <label>Servicios: </label>
                        <span data-ng-bind="centro.servicios"></span>
                      </p>
                    </div>
                </div>
                <div class="masinfo col-md-5">
                    <div class="row">
                      <p>
                        <label>Nombre: </label>
                        <span data-ng-bind="centro.nutricionista.nombres"></span>
                        <span data-ng-bind="centro.nutricionista.apellidos"></span>
                      </p>
                    </div>
                    <div class="row">
                      <p>
                        <label>Estudios: </label>
                        <span data-ng-bind="centro.nutricionista.estudios"></span>
                      </p>
                    </div>
                    <div class="row">
                      <p>
                        <label>Especializaciones: </label>
                        <span data-ng-bind="centro.nutricionista.especializaciones"></span>
                      </p>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-1">
        </div>
      </div>
    </div>
  </div>
</section>