<section ng-controller="PaquetesController" data-ng-init="find()">
  <div class="content">
   <h2 class="text-center">Paquetes de Dieta</h2>
    <div class="container-fluid flow">
      <div class="row">
                <div class="col-md-12">
                  <div class="card col-md-4 panel" ng-repeat="paquetedieta in paquetesDieta" style="margin: 5px;">
                    <div class="card-content paquete panel-body" >
                          <div class="imageupload col-md-12 portfolio-filters wow fadeInUp " style="padding:0px;">
                              <div class="file-tab">
                                <img id="preview" class="thumbnail" ng-src="{{paquetedieta.foto}}" style="width: 100%; height: 300px;" />
                              </div>
                          </div>
                          <div class="col-md-12">
                            <h4 data-ng-bind="paquetedieta.nombre"></h4>
                          </div>
                          <div class="col-md-12">
                            <p data-ng-bind="paquetedieta.descripcion"></p>
                          </div>
                          <div class="col-md-12">
                            <p><span>$</span><span data-ng-bind="paquetedieta.precio"></span></p>
                          </div>
                    </div>
                  </div>
                </div>
              </div>
    </div>
  </div>
</section>
