<div class="card" data-ng-controller='PacientesController'>
    <div class="header">
        <h4 class="title">Ingresar Paciente</h4>
    </div>
    <div class="content">
        <form data-ng-submit="create()">

          <section ng-include="'app_Angular/Administrador/views/form_paciente.view.html'"></section>

          <div class="text-center">
              <button type="submit" class="btn btn-info btn-fill btn-wd">Guardar</button>
          </div>
          <div class="clearfix"></div>

        </form>
    </div>
</div>
