<div class="card" data-ng-controller='PacientesController' ng-init="initEdit()">
    <div class="header">
        <h4 class="title">Editar Paciente</h4>
    </div>
    <div class="content">
        <form name="editPacForm" data-ng-submit="edit()">

          <section ng-include="'app_Angular/Administrador/views/form_editarpaciente.view.html'">
          </section>

          <div class="text-center">
              <!-- <div class="col-lg-6 col-md-6 col-xs-6 pull-right">
              </div> -->
                <a type="button" class="btn btn-info btn-fill btn-wd" data-ng-href="#!/pacientes">
                  <i class="fa fa-lg fa-arrow-left" aria-hidden="true"></i> &nbsp;
                  Cancelar
                </a>

                <button type="submit" class="btn btn-info btn-fill btn-wd" ng-disabled="!editPacForm.$valid">
                  Guardar
                </button> 

              <!-- <div class="col-lg-6 col-md-6 col-xs-6 pull-left">
              </div> -->
          </div>
          <div class="clearfix"></div>

        </form>
    </div>
</div>
