<div class="row">
    <div class="col-md-2 col-sm-2"></div>
    <div class="col-md-8 col-sm-8">
      <div class="form-group" 
           ng-class="{'has-error': editPacForm.fechaDato.$invalid && editPacForm.fechaDato.$pristine }">
        <label>Fecha</label>
        <input type="Date" 
               class="form-control border-input" 
               name="fechaDato" 
               data-ng-model="datoControlEdit.fechaDato"
               required>
      </div>
    </div>
    <div class="col-md-2 col-sm-2"></div>
</div>

<div class="row">
  <div class="col-md-2 col-sm-2"></div>
  <div class="col-md-8 col-sm-8">
    <div class="form-group" 
         ng-class="{'has-error': editPacForm.observaciones.$invalid && !editPacForm.observaciones.$pristine }">
      <label>Observaciones:</label>
      <input type="text" 
             class="form-control border-input" 
             name="observaciones"  
             minlength="2" 
             maxlength="50" 
             onkeypress="return (event.charCode>64&&event.charCode<91)||(event.charCode>96&&event.charCode<123)||(event.charCode>7&&event.charCode<9)||(event.charCode>31&&event.charCode<33)" 
             data-ng-model="datoControlEdit.observaciones" 
             placeholder="Nombres" 
             required>
    </div>
  </div>
  <div class="col-md-2 col-sm-2"></div>
</div>

<div class="row">
    <div class="col-md-2 col-sm-2"></div>

    <div class="col-md-8 col-sm-8" style="padding:0px;">
      <div class="col-md-12 col-sm-12" ng-repeat="dato in datoControlEdit.datos" style="padding:0px; margin:0px;">
        
        <div class="col-md-4 col-sm-4">
          <div class="form-group" ng-class="{'has-error': editPacForm.nombreDato.$invalid && !editPacForm.nombreDato.$pristine }">
            <label>Nombre del dato:</label>
            <input type="text" 
                   class="form-control border-input" 
                   name="nombreDato" 
                   maxlength="50" 
                   onkeypress="return (event.charCode>64&&event.charCode<91)||(event.charCode>96&&event.charCode<123)||(event.charCode>7&&event.charCode<9)||(event.charCode>31&&event.charCode<33)" 
                   data-ng-model="dato.nombreDato" 
                   placeholder="Nombre" 
                   required>
          </div>
        </div>

        <div class="col-md-3 col-sm-3">
          <div class="form-group" ng-class="{'has-error': editPacForm.valorDato.$invalid && !editPacForm.valorDato.$pristine }">
            <label>Valor:</label>
            <input type="text" 
                   class="form-control border-input" 
                   name="valorDato" 
                   maxlength="200" 
                   onkeypress="return event.charCode>47 && event.charCode<58" 
                   data-ng-model="dato.valorDato" 
                   placeholder="Valor" 
                   required>
          </div>
        </div>

        <div class="col-md-3 col-sm-3">
          <div class="form-group" ng-class="{'has-error': editPacForm.unidadDato.$invalid && !editPacForm.unidadDato.$pristine }">
            <label>Unidad:</label>
            <select class="form-control border-input" 
                    name="unidadDato" 
                    data-ng-model="dato.unidadDato" 
                    required>
              <option value="%"> % </option>
              <option value="mg/L"> mg/L </option>
              <option value="cm"> cm </option>
              <option value="lbs"> lbs </option>
            </select>
          </div>
        </div>

        <div class="col-md-2 col-sm-2" style="height:100%">
          <div class="form-group">
            <label>Eliminar:</label>
            &nbsp;
            <button class="btn btn-danger" ng-click="removerDatoEdit(dato)">
              <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
            </button>
          </div>
        </div>

      </div>
    </div>

    <div class="col-md-2 col-sm-2"></div>

    <div class="col-md-12 col-sm-12 text-center" style="margin-bottom:15px;">
      <a type="button" 
         class="btn btn-info btn-fill btn-wd" 
         data-ng-click="agregarDatoEdit()"> 
         <i class="fa fa-lg fa-plus" aria-hidden="true"></i> &nbsp;
         Agregar nuevo dato 
      </a>
    </div>

</div>