<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#DatosGenerales" role="tab">Datos Generales</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#AnamesisAlimentaria" role="tab">Anámesis Alimentaria</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#HistoriaAlimentaria" role="tab">Historia Alimentaria</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <!-- DATOS GENERALES -->
  <div class="tab-pane active" id="DatosGenerales" role="tabpanel">
    <div class="row">
        <div class="col-md-3 col-sm-3">
          <div class="form-group">
              <label>Cédula</label>
              <input type="text" class="form-control border-input" placeholder="Cédula" data-ng-model="paciente.cedula">
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="form-group">
              <label>Nombres</label>
              <input type="text" class="form-control border-input" placeholder="Nombres" data-ng-model="paciente.nombres">
          </div>
        </div>
        <div class="col-md-5 col-sm-5">
          <div class="form-group">
              <label>Apellidos</label>
              <input type="text" class="form-control border-input" placeholder="Apellidos" data-ng-model="paciente.apellidos">
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-3">
          <div class="form-group">
            <label>Sexo:</label>
            <select class="form-control border-input" data-ng-model="paciente.sexo">
              <option value="Masculino">Masculino</option>
              <option value="Femenino">Femenino</option>
            </select>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="form-group">
            <label>Fecha de Nacimiento</label>
            <input type="Date" class="form-control border-input" data-ng-model="paciente.fechaNacimiento">
          </div>
        </div>
        <div class="col-md-5 col-sm-5">
          <div class="form-group">
            <label>Celular</label>
            <input type="text" class="form-control border-input" placeholder="Celular" data-ng-model="paciente.celular">
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <div class="form-group">
                <label>Ocupación</label>
                <input type="text" class="form-control border-input" placeholder="Ocupación" data-ng-model="paciente.ocupacion">
            </div>
        </div>
        <div class="col-md-8 col-sm-8">
            <div class="form-group">
                <label>Dirección</label>
                <input type="text" class="form-control border-input" placeholder="Dirección" data-ng-model="paciente.direccion">
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="form-group">
            <label>Motivo de la Consulta</label>
            <input type="text" class="form-control border-input" data-ng-model="paciente.motivoConsulta">
        </div>
      </div>
    </div>
  </div>
  <!-- ANAMESIS ALIMENTARIA -->
  <div class="tab-pane" id="AnamesisAlimentaria" role="tabpanel">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" data-ng-model="antecedente.alteracionApetito">
              Alteración del apetito
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" data-ng-model="antecedente.nausea">
              Nauseas
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" data-ng-model="antecedente.vomito">
              Vómitos
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" data-ng-model="antecedente.diarrea">
              Diarreas
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" data-ng-model="antecedente.estrenimiento">
              Estreñimiento
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" data-ng-model="antecedente.flatulencia">
              Flatulencia
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" data-ng-model="antecedente.acidez">
              Acidez
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" data-ng-model="antecedente.gastritis">
              Gastritis
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" data-ng-model="antecedente.problemasMasticacion">
              Problemas de masticación
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" data-ng-model="antecedente.cambioSaborComidas">
              Cambio en sabor en la comida
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" data-ng-model="antecedente.alergia">
              Alergia
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" data-ng-model="antecedente.suplementoVitaminicos">
              Suplemento Vitamínico
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" data-ng-model="antecedente.medicamento">
              Medicamento
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" data-ng-model="antecedente.ojos">
              Ojos
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" data-ng-model="antecedente.cabello">
              Cabello
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" data-ng-model="antecedente.unias">
              Uñas
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" data-ng-model="antecedente.piel">
              Piel
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- HISTORIA ALIMENTARIA -->
  <div class="tab-pane" id="HistoriaAlimentaria" role="tabpanel">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Comidas al día:</label>
          <div class="col-sm-8">
            <input type="texto" class="form-control border-input" placeholder="Comidas al día">
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Preparada por:</label>
          <div class="col-sm-8">
            <input type="texto" class="form-control border-input" placeholder="Preparadas por">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input">
              Modifica fines de semana
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input">
              Comida entre comidas
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th>Grupos de Alimentos</th>
            <th>Frecuencia</th>
            <th>Alimentos que le agradan</th>
            <th>Alimentos que no le agradan</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Lácteos</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Vegetales</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Frutas</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
