<div class="row">
    <div class="col-md-2 col-sm-2"></div>
    <div class="col-md-8 col-sm-8">
      <div class="form-group"
           ng-class="{'has-error': planForm.fechaDato.$invalid && planForm.fechaDato.$pristine }">
        <label>Fecha</label>
        <input type="Date"
               class="form-control border-input"
               name="fechaDato"
               data-ng-model="planNutricional.fechaDato"
               min="2000-01-01"
               required>
      </div>
    </div>
    <div class="col-md-2 col-sm-2"></div>
</div>

<div class="row">
  <div class="col-md-2 col-sm-2"></div>
  <div class="col-md-8 col-sm-8">
    <div class="form-group"
         ng-class="{'has-error': planForm.documento.$invalid && !planForm.documento.$pristine }">
      <label>Documento:</label>
      <input type="text"
             class="form-control border-input"
             name="documento"
             data-ng-model="planNutricional.documento"
             placeholder="Observaciones"
             required>
    </div>
  </div>
  <div class="col-md-2 col-sm-2"></div>
</div>
