<div class="row">
    <div class="col-md-2 col-sm-2"></div>
    <div class="col-md-8 col-sm-8">
      <div class="form-group" 
           ng-class="{'has-error': createControlD.fechaDato.$invalid && createControlD.fechaDato.$pristine }">
        <label>Fecha</label>
        <input type="Date" 
               class="form-control border-input" 
               name="fechaDato" 
               data-ng-model="datosControlForm.fechaDato"
               required>
      </div>
    </div>
    <div class="col-md-2 col-sm-2"></div>
</div>

<div class="row">
  <div class="col-md-2 col-sm-2"></div>
  <div class="col-md-8 col-sm-8">
    <div class="form-group" 
         ng-class="{'has-error': createControlD.observaciones.$invalid && !createControlD.observaciones.$pristine }">
      <label>Observaciones:</label>
      <input type="text" 
             class="form-control border-input" 
             name="observaciones"  
             minlength="2" 
             maxlength="50" 
             onkeypress="return (event.charCode>64&&event.charCode<91)||(event.charCode>96&&event.charCode<123)||(event.charCode>7&&event.charCode<9)||(event.charCode>31&&event.charCode<33)" 
             data-ng-model="datosControlForm.observaciones" 
             placeholder="Nombres" 
             required>
    </div>
  </div>
  <div class="col-md-2 col-sm-2"></div>
</div>

<div class="row">
    <div class="col-md-2 col-sm-2"></div>

    <div class="col-md-8 col-sm-8" style="padding:0px;">
      <div class="col-md-6 col-sm-6" style="padding-left:0px;">
        <div class="form-group">
          <label>Nombre del dato:</label>
          <input type="text" 
                 class="form-control border-input" 
                 maxlength="50" 
                 onkeypress="return (event.charCode>64&&event.charCode<91)||(event.charCode>96&&event.charCode<123)||(event.charCode>7&&event.charCode<9)||(event.charCode>31&&event.charCode<33)" 
                 data-ng-model="datosControlForm.ocupacion" 
                 placeholder="Nombre" 
                 required>
        </div>
      </div>

      <div class="col-md-3 col-sm-3">
        <div class="form-group">
          <label>Valor:</label>
          <input type="text" 
                 class="form-control border-input" 
                 maxlength="200" 
                 onkeypress="return event.charCode>47 && event.charCode<58" 
                 data-ng-model="datosControlForm.valorDato" 
                 placeholder="Valor" 
                 required>
        </div>
      </div>

      <div class="col-md-3 col-sm-3" style="padding-right:0px;">
        <div class="form-group">
          <label>Unidad:</label>
          <select class="form-control border-input" 
                  data-ng-model="datosControlForm.unidadDato" 
                  required>
            <option value="%"> % </option>
            <option value="mg/L"> mg/L </option>
            <option value="cm"> cm </option>
            <option value="lbs"> lbs </option>
          </select>
        </div>
      </div>
    </div>

    <div class="col-md-2 col-sm-2"></div>

    <div class="col-md-12 col-sm-12 text-center" style="margin-bottom:15px;">
      <a type="button" 
         class="btn btn-info btn-fill btn-wd" 
         data-ng-click="agregarCampos()"> 
         <i class="fa fa-lg fa-plus" aria-hidden="true"></i> &nbsp;
         Agregar nuevo dato 
      </a>
    </div>

</div>
