<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item active">
    <a class="nav-link" data-toggle="tab" href="#DatosGenerales" role="tab">Datos Generales</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#AnamesisAlimentaria" role="tab">Anámesis Alimentaria</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#HistoriaAlimentaria" role="tab">Historia Alimentaria</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <!-- DATOS GENERALES -->
  <div class="tab-pane active" id="DatosGenerales" role="tabpanel">
    <div class="row">
        <div class="col-md-3 col-sm-3">
          <div  class="form-group"
                ng-class="{'has-error': pacienteForm.cedula.$invalid && !pacienteForm.cedula.$pristine }">
              <label>Cédula*:</label>
              <input  type="text"
                      class="form-control border-input"
                      placeholder="Cédula"
                      minlength="10"
                      maxlength="10"
                      name='cedula'
                      onkeypress="return (event.charCode>47 && event.charCode<58)"
                      data-ng-model="paciente.cedula"
                      required>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div  class="form-group"
                ng-class="{'has-error': pacienteForm.nombres.$invalid && !pacienteForm.nombres.$pristine }">
              <label>Nombres*</label>
              <input  type="text"
                      class="form-control border-input"
                      placeholder="Nombres"
                      minlength="2"
                      maxlength="50"
                      name='nombres'
                      onkeypress="return validateTextInput(event)"
                      data-ng-model="paciente.nombres"
                      required>
          </div>
        </div>
        <div class="col-md-5 col-sm-5">
          <div  class="form-group"
                ng-class="{'has-error': pacienteForm.apellidos.$invalid && !pacienteForm.apellidos.$pristine }">
              <label>Apellidos*</label>
              <input  type="text"
                      class="form-control border-input"
                      minlength="2"
                      maxlength="50"
                      name="apellidos"
                      onkeypress="return validateTextInput(event)"
                      placeholder="Apellidos"
                      data-ng-model="paciente.apellidos"
                      required>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-3">
          <div class="form-group">
            <label>Sexo*</label>
            <select class="form-control border-input" data-ng-model="paciente.sexo" required>
              <option value="Masculino">Masculino</option>
              <option value="Femenino">Femenino</option>
            </select>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="form-group"
               ng-class="{'has-error': pacienteForm.nacimiento.$invalid && !pacienteForm.nacimiento.$pristine }">
            <label>Fecha de Nacimiento*</label><!--Sólo se pueden ingresar hasta la actual fecha-->
            <input type="Date" id="dateValidate"
                   class="form-control border-input"
                   name="nacimiento"
                   data-ng-model="paciente.fechaNacimiento"
                   min="1917-01-01"
                   max="{{returnCurrentDate()}}"
                   required>
          </div>
        </div>
        <div class="col-md-5 col-sm-5">
          <div class="form-group"
               ng-class="{'has-error': pacienteForm.celular.$invalid && !pacienteForm.celular.$pristine }">
            <label>Celular</label>
            <input type="text"
                   class="form-control border-input"
                   maxlength="10"
                   name="celular"
                   onkeypress="return event.charCode>47 && event.charCode<58"
                   placeholder="Celular"
                   data-ng-model="paciente.celular">
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-3">
            <div class="form-group"
                  ng-class="{'has-error': pacienteForm.ocupacion.$invalid && !pacienteForm.ocupacion.$pristine }">
                <label>Ocupación</label>
                <input type="text"
                       class="form-control border-input"
                       name="ocupacion"
                       maxlength="50"
                       onkeypress="return validateTextInput(event)"
                       placeholder="Ocupación"
                       data-ng-model="paciente.ocupacion">
            </div>
        </div>
        <div class="col-md-3 col-sm-3">
            <div class="form-group">
                <label>Correo Electrónico*</label>
                <input type="email"
                       class="form-control border-input"
                       name="email"
                       placeholder="Correo Electrónico"
                       data-ng-model="paciente.email">
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="form-group"
                  ng-class="{'has-error': pacienteForm.direccion.$invalid && !pacienteForm.direccion.$pristine }">
                <label>Dirección</label>
                <input type="text"
                       class="form-control border-input"
                       name="direccion"
                       maxlength="200"
                       onkeypress="return validateTextNumericInput(event)"
                       placeholder="Dirección"
                       data-ng-model="paciente.direccion">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="form-group"
                  ng-class="{'has-error': pacienteForm.ejercicios.$invalid && !pacienteForm.ejercicios.$pristine }">
                <label>Ejecicios que realiza</label>
                <input type="text"
                       class="form-control border-input"
                       name="ejercicios"
                       maxlength="50"
                       onkeypress="return validateTextInput_punctuation(event)"
                       placeholder="Ejercicios"
                       data-ng-model="paciente.ejercicios">
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="form-group"
                  ng-class="{'has-error': pacienteForm.frecuenciaEjecicios.$invalid && !pacienteForm.frecuenciaEjecicios.$pristine }">
                <label>Frecuencia ejercicios</label>
                <input type="text"
                       class="form-control border-input"
                       name="frecuenciaEjecicios"
                       maxlength="60"
                       onkeypress="return validateTextInput_punctuation(event)"
                       placeholder="Frecuencia Ejercicios"
                       data-ng-model="paciente.frecuenciaEjecicios">
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="form-group"
             ng-class="{'has-error': pacienteForm.motivo.$invalid && !pacienteForm.motivo.$pristine }">
            <label>Motivo de la Consulta*</label>
            <input type="text"
                   class="form-control border-input"
                   name="motivo"
                   minlength="5"
                   maxlength="300"
                   onkeypress="return validateTextNumericInput(event)"
                   data-ng-model="paciente.motivoConsulta"
                   required>
        </div>
      </div>
    </div>
  </div>
  <!-- ANAMESIS ALIMENTARIA -->
  <div class="tab-pane" id="AnamesisAlimentaria" role="tabpanel">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" data-ng-model="antecedente.alteracionApetito">
              Alteración del apetito
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" data-ng-model="antecedente.nausea">
              Nauseas
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" data-ng-model="antecedente.vomito">
              Vómitos
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" data-ng-model="antecedente.diarrea">
              Diarreas
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" data-ng-model="antecedente.estrenimiento">
              Estreñimiento
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" data-ng-model="antecedente.flatulencia">
              Flatulencia
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" data-ng-model="antecedente.acidez">
              Acidez
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" data-ng-model="antecedente.gastritis">
              Gastritis
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" data-ng-model="antecedente.problemasMasticacion">
              Problemas de masticación
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" data-ng-model="antecedente.alergia">
              Alergias
            </label>
          </div>
          <div class="form-group">
             <input type="text"
                       class="form-control border-input"
                       maxlength="50"
                       name="descripcionAlergias"
                       onkeypress="return validateTextInput_punctuation(event)"
                       placeholder="Alergias"
                       data-ng-model="antecedente.descripcionAlergias"
                       ng-show="antecedente.alergia">
              </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" data-ng-model="antecedente.suplementoVitaminicos">
              Suplemento Vitamínico
            </label>
          </div>
          <div class="form-group">
             <input type="text"
                       class="form-control border-input"
                       maxlength="50"
                       name="descripcionSuplementos"
                       onkeypress="return validateTextInput_punctuation(event)"
                       placeholder="Suplementos"
                       data-ng-model="antecedente.descripcionSuplementos"
                       ng-show="antecedente.suplementoVitaminicos">
              </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" data-ng-model="antecedente.medicamento">
              Medicamentos
            </label>
          </div>
          <div class="form-group">
             <input type="text"
                       class="form-control border-input"
                       maxlength="50"
                       name="descripcionMedicamentos"
                       onkeypress="return validateTextInput_punctuation(event)"
                       placeholder="Medicamentos"
                       data-ng-model="antecedente.descripcionMedicamentos"
                       ng-show="antecedente.medicamento">
              </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" data-ng-model="antecedente.cambioSaborComidas">
              Cambio en sabor en la comida
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" data-ng-model="antecedente.ojos">
              Ojos
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" data-ng-model="antecedente.cabello">
              Cabello
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" data-ng-model="antecedente.unias">
              Uñas
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" data-ng-model="antecedente.piel">
              Piel
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="form-group">
            <label>Antecedentes Personales</label>
            <input type="text"
                   class="form-control border-input"
                   name="antecedentesPersonales"
                   maxlength="300"
                   onkeypress="return validateTextInput_punctuation(event)"
                   data-ng-model="antecedente.antecedentesPersonales"
                   required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="form-group">
            <label>Antecedentes Familiares</label>
            <input type="text"
                   class="form-control border-input"
                   name="antecedentesFamiliares"
                   maxlength="300"
                   onkeypress="return validateTextInput_punctuation(event)"
                   data-ng-model="antecedente.antecedentesFamiliares"
                   required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="form-group">
            <label>Observaciones adicionales</label>
            <textarea type="text" rows="6" cols="60"
                   class="form-control border-input"
                   name="observaciones"
                   maxlength="1000"
                   data-ng-model="antecedente.observaciones">
          </textarea>
        </div>
      </div>
    </div>
  </div>
  <!-- HISTORIA ALIMENTARIA -->
  <div class="tab-pane" id="HistoriaAlimentaria" role="tabpanel" ng-init="showAgregar = false;">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Comidas al día:</label>
          <div class="col-sm-8">
            <input placeholder="Comidas al día"
                   type="text"
                   class="form-control border-input"
                   maxlength="2"
                   onkeypress="return event.charCode>47 && event.charCode<58"
                   data-ng-model="historiaAlimentaria.comidasAlDia">
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Preparada por:</label>
          <div class="col-sm-8">
            <input  type="text"
                    class="form-control border-input"
                    minlength="2"
                    maxlength="50"
                    onkeypress="return validateTextInput_punctuation(event)"
                    placeholder="Preparadas por"
                    data-ng-model="historiaAlimentaria.preparadoPor">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" data-ng-model="historiaAlimentaria.modificaFinesDeSemana">
              Modifica fines de semana
            </label>
          </div>
          <div class="form-group">
             <input type="text"
                       class="form-control border-input"
                       maxlength="50"
                       name="comidaFinesdeSemana"
                       onkeypress="return validateTextInput_punctuation(event)"
                       placeholder="Descripción Comidas"
                       data-ng-model="historiaAlimentaria.comidaFinesdeSemana"
                       ng-show="historiaAlimentaria.modificaFinesDeSemana">
              </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" data-ng-model="historiaAlimentaria.comeEntreComidas">
              Snack entre comidas
            </label>
          </div>
          <div class="form-group">
             <input type="text"
                       class="form-control border-input"
                       maxlength="50"
                       name="snacksEntreComidas"
                       onkeypress="return validateTextInput_punctuation(event)"
                       placeholder="Descripción Snacks"
                       data-ng-model="historiaAlimentaria.snacksEntreComidas"
                       ng-show="historiaAlimentaria.comeEntreComidas">
              </div>
        </div>
      </div>
    </div>
    <div class="row">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Grupos de Alimentos</th>
            <th>Frecuencia</th>
            <th>Alimentos que le agradan</th>
            <th>Alimentos que no le agradan</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="grupo in historiaAlimentaria.grupoAlimentos">
            <td data-ng-bind="grupo.descripcion"></td>
            <td data-ng-bind="grupo.frecuencia"></td>
            <td data-ng-bind="grupo.alimentosAgradan"></td>
            <td data-ng-bind="grupo.alimentosDesagradan"></td>
            <td>
              <div class="btn-group">
                  <a class="btn btn-xs btn-danger" ng-click="removeGrupoAlimentos(grupo)"><i class="fa fa-trash-o"></i></a>
                </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row" ng-show="!showAgregar">
        <button type="button" class="btn btn-success btn-fill btn-wd pull-right" ng-click="showAgregar = true;"><i class="fa fa-lg fa-plus-circle" aria-hidden="true"></i>Agregar</button>
    </div>
    <div ng-show="showAgregar">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
              <label><small>Grupo de Alimento</small></label>
              <select class="form-control border-input" data-ng-model="newGrupo.descripcion">
                <option value="Lácteos">Lácteos</option>
                <option value="Vegetales">Vegetales</option>
                <option value="Frutas">Frutas</option>
                <option value="Granos">Granos</option>
                <option value="Panes, Arroz y Derivados">Panes, Arroz y Derivados</option>
                <option value="Carnes">Carnes</option>
                <option value="Grasas">Grasas</option>
              </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
              <label><small>Frecuencia</small></label>
              <input  type="text"
                      class="form-control border-input"
                      maxlength="2"
                      onkeypress="return event.charCode>47 && event.charCode<58"
                      class="form-control border-input" placeholder="Frecuencia" data-ng-model="newGrupo.frecuencia">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
              <label><small>Alimentos que le agradan</small></label>
              <input type="text"
                      class="form-control border-input"
                      placeholder="Nombres"
                      minlength="2"
                      maxlength="50"
                      onkeypress="return validateTextInput_punctuation(event)" class="form-control border-input" placeholder="Alimentos que le agradan" data-ng-model="newGrupo.alimentosAgradan">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
              <label><small>Alimentos que no le agradan</small></label>
              <input type="text"
                      class="form-control border-input"
                      placeholder="Nombres"
                      minlength="2"
                      maxlength="50"
                      onkeypress="return validateTextInput_punctuation(event)" class="form-control border-input" placeholder="Alimentos que no le agradan" data-ng-model="newGrupo.alimentosDesagradan">
          </div>
        </div>
      </div>
      <div class="row">
          <button type="button" class="btn btn-success btn-fill btn-wd pull-right" ng-click="showAgregar = false; putGrupoAlimentos();"><i class="fa fa-lg fa-plus-circle" aria-hidden="true"></i>Agregar a la Tabla</button>
      </div>
    </div>
  </div>
</div>
