<div class="row" data-ng-controller="DatosController" data-ng-init="find()">
    <ul class="nav navbar-right panel_toolbox">
      <a type="button" class="btn btn-success" data-ng-href="#!/pacientes/listDatosControl/{{idPaciente}}/create"> Registrar dato de control </a>
    </ul>
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Datos de Control</h4>
                <p class="category">Lista de datos de control del paciente {{datosControl[0].idPaciente.nombres}} {{datosControl[0].idPaciente.apellidos}}</p>
            </div>
            <div id="datatable-buttons" datatable='ng' class="content table-responsive table-full-width">
                <table class="table table-striped">
                    <thead>
                        <th>#</th>
                    	<th>Fecha registro datos de control</th>
                        <th>Acciones</th>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="dato in datosControl">
                        	<td>{{$index + 1}}</td>
                        	<td data-ng-bind="dato.fechaDato | date:'dd/MM/yyyy'"></td>
                            <td>
                                <a title="Ver informacion">
                                    <i class="fa fa-lg fa-eye" aria-hidden="true" style="color:blue"></i>
                                </a>
                                &nbsp;
                                <a title="Editar dato" data-ng-href="#!/pacientes/listDatosControl/{{datosControl[0].idPaciente._id}}/edit/{{dato._id}}">
                                    <i class="fa fa-lg fa-pencil-square-o" aria-hidden="true" style="color:green"></i>
                                </a>
                                &nbsp;
                                <a title="Eliminar dato" data-ng-href="#!" ng-click="">
                                    <i class="fa fa-lg fa-trash-o" aria-hidden="true" style="color:red"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

</div>
