<div class="row" data-ng-controller="PlanesController" data-ng-init="find()">
    <ul class="nav navbar-left panel_toolbox text-right" style="margin-left: 1%;margin-bottom: 1%;">
        <a type="button" class="btn btn-info btn-fill btn-wd" style="margin-right: 1%" data-ng-href="#!/pacientes">
            <i class="fa fa-lg fa-arrow-left" aria-hidden="true"></i> &nbsp;
            Regresar
        </a>
    </ul>
    <div class="col-md-12">
        <div class="card">
            <div class="header">
              <div class="row">
                <div class="col-md-8">
                <h4 class="title">Planes nutricionales</h4>
                <p class="category">Lista de planes nutricionales del paciente {{planesNutricionales[0].idPaciente.nombres}} {{planesNutricionales[0].idPaciente.apellidos}}</p>
              </div>
                <div class="col-md-4">
                <div class="text-right">
                  <a type="button" class="btn btn-success" data-ng-href="#!/pacientes/listPlanesNutricionales/{{idPaciente}}/create">
                    <i class="fa fa-lg fa-plus-circle" aria-hidden="true"></i> &nbsp;
                    Registrar plan nutricional
                  </a>
              </div>
              </div>
            </div>
            </div>
            <div class="content table-responsive table-full-width">
                <table datatable='ng' class="table table-striped">
                    <thead>
                        <th>#</th>
                    	<th>Fecha registro plan nutricional</th>
                        <th>Vigente</th>
                        <th>Acciones</th>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="plan in planesNutricionales">
                        	<td>{{$index + 1}}</td>
                        	<td data-ng-bind="plan.fechaDato | date:'dd/MM/yyyy'"></td>
                            <td>
                                <a title="Seleccionar como vigente" ng-click="seleccionarVigente(plan)">
                                  <i ng-class="{vigente: plan.vigente, noVigente: !plan.vigente}" class="fa fa-lg fa-star" aria-hidden="true"></i>
                                </a>
                            </td>
                            <td>
                                <a title="Ver informacion" data-ng-href="#!/pacientes/listPlanesNutricionales/{{planesNutricionales[0].idPaciente._id}}/ver/{{plan._id}}">
                                    <i class="fa fa-lg fa-eye" aria-hidden="true" style="color:blue"></i>
                                </a>
                                &nbsp;
                                <a title="Editar plan" data-ng-href="#!/pacientes/listPlanesNutricionales/{{planesNutricionales[0].idPaciente._id}}/edit/{{plan._id}}">
                                    <i class="fa fa-lg fa-pencil-square-o" aria-hidden="true" style="color:green"></i>
                                </a>
                                &nbsp;
                                <a title="Eliminar plan" ng-click="remove(plan)">
                                    <i class="fa fa-lg fa-trash-o" aria-hidden="true" style="color:red"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
              </div>
        </div>
    </div>

</div>
