<div class="row" data-ng-controller="PacientesController" data-ng-init="find()">
  <ul class="nav navbar-right panel_toolbox text-right" style="margin-right: 1%;margin-bottom: 1%;">
    <button type="button" class="btn btn-success">
      <a data-ng-href="#!/pacientes/create">
        <i class="fa fa-lg fa-plus-circle" aria-hidden="true"></i> &nbsp;
        Registrar paciente
      </a>
    </button>
  </ul>
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Pacientes</h4>
                <p class="category">Lista de pacientes registrados</p>
            </div>
            <div class="content table-responsive table-full-width">
                <table datatable="ng" class="table table-striped">
                    <thead>
                      <th>#</th>
                    	<th>Nombres</th>
                    	<th>Apellidos</th>
                    	<th>Sexo</th>
                    	<th>Dirección</th>
                      <th>Acciones</th>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="paciente in pacientes">
                        	<td>{{$index + 1}}</td>
                        	<td ng-if="paciente.borrado==true" style="color:gray" data-ng-bind="paciente.nombres"></td>
                          <td ng-if="paciente.borrado==false" data-ng-bind="paciente.nombres"></td>
                        	<td ng-if="paciente.borrado==true" style="color:gray" data-ng-bind="paciente.apellidos"></td>
                          <td ng-if="paciente.borrado==false" data-ng-bind="paciente.apellidos"></td>
                        	<td ng-if="paciente.borrado==true" style="color:gray" data-ng-bind="paciente.sexo"></td>
                          <td ng-if="paciente.borrado==false" data-ng-bind="paciente.sexo"></td>
                        	<td ng-if="paciente.borrado==true" style="color:gray" data-ng-bind="paciente.direccion"></td>
                          <td ng-if="paciente.borrado==false" data-ng-bind="paciente.direccion"></td>
                            <td>
                                <a title="Ver informacion" data-ng-href="#!/pacientes/ver/{{paciente._id}}">
                                    <i class="fa fa-lg fa-eye" aria-hidden="true" style="color:blue"></i>
                                </a>
                                &nbsp;
                                <a ng-if="paciente.borrado==false" title="Editar paciente" data-ng-href="#!/pacientes/edit/{{paciente._id}}">
                                    <i class="fa fa-lg fa-pencil-square-o" aria-hidden="true" style="color:green"></i>
                                </a>
                                &nbsp;
                                <a ng-if="paciente.borrado==false" title="Desactivar paciente" ng-click="desactivarPaciente(paciente._id)">
                                    <i class="fa fa-lg fa-times" aria-hidden="true" style="color:red"></i>
                                </a>
                                &nbsp;
                                <a ng-if="paciente.borrado==true" title="Activar paciente" ng-click="activarPaciente(paciente._id)">
                                    <i class="fa fa-lg fa-check" aria-hidden="true" style="color:green"></i>
                                </a>
                                &nbsp;
                                <a ng-if="paciente.borrado==false" title="Ver datos de control" data-ng-href="#!/pacientes/listDatosControl/{{paciente._id}}">
                                    <i class="fa fa-lg fa-heartbeat" aria-hidden="true" style="color:red"></i>
                                </a>
                                <a ng-if="paciente.borrado==false" title="Ver planes nutricionales" data-ng-href="#!/pacientes/listPlanesNutricionales/{{paciente._id}}">
                                    <i class="fa fa-lg fa-file-o" aria-hidden="true" style="color:black"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

</div>
