<!doctype html>
<html lang="en">
<head>
	<style>
		#divLoading{
			display : none;
		}
		#divLoading.show{
			display : block;
			position : fixed;
			z-index: 10000000;
			background-image : url('http://loadinggif.com/images/image-selection/3.gif');
			background-repeat : no-repeat;
			background-position : top;
			left : 0;
			bottom : 0;
			right : 0;
			top : 20%;
		}
	</style>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/img/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Paper Dashboard by Creative Tim</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

		<!-- FullCalendar -->
		<link rel="stylesheet" href="/css/fullcalendar.min.css">



    <!-- Bootstrap core CSS     -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />

		<!-- DatePicker -->
		<link href="/css/datetimepicker/datetimepicker.css" rel="stylesheet">

    <!-- Animation library for notifications   -->
    <link href="/css/animate.min.css" rel="stylesheet"/>

    <!--  Paper Dashboard core CSS    -->
    <link href="/css/paper-dashboard.css" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="/css/demo.css" rel="stylesheet" />

		<link rel="stylesheet" href="/css/estilo.css">

		<!-- Datatables -->
    <link href="/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/lib/angular-datatables/demo/src/archives/dist/css/angular-datatables.min.css">

		<!--BOOTSTRAP-DIALOG -->
		<link rel="stylesheet" href="/css/bootstrap.dialog.css">
		<!--IMAGES-->
		<link href="/css/bootstrap-imageupload.css" rel="stylesheet">
    <!--  Fonts and icons     -->
    <link href="/css/maxcdn.bootstrapcdn.css" rel="stylesheet">
    <link href='/css/fonts.google.css' rel='stylesheet' type='text/css'>
    <link href="/css/themify-icons.css" rel="stylesheet">
		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
		<link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="danger">

    <!--
		Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
		Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
	-->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text">
                  <img src="/img/logo1.png" alt="" style="max-width: 100%;">
                </a>
            </div>

            <ul class="nav">
                <li class="active">
                    <a href="#!">
                        <i class="ti-user"></i>
                        <p>Pacientes</p>
                    </a>
                </li>
                <li>
                    <a href="#!/centro">
                        <i class="ti-home"></i>
                        <p>Centro</p>
                    </a>
                </li>
                <li>
                    <a href="#!/citas">
                        <i class="ti-agenda"></i>
                        <p>Citas</p>
                    </a>
                </li>
                <li>
                    <a href="#!/paquetes-dieta">
                        <i class="ti-package"></i>
                        <p>Paquetes de Dieta</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand">Administración</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="ti-panel"></i>
								<p>Stats</p>
                            </a>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="ti-bell"></i>
                                    <p class="notification">5</p>
									<p>Notifications</p>
									<b class="caret"></b>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Notification 1</a></li>
                                <li><a href="#">Notification 2</a></li>
                                <li><a href="#">Notification 3</a></li>
                                <li><a href="#">Notification 4</a></li>
                                <li><a href="#">Another notification</a></li>
                              </ul>
                        </li>
						<li>
                            <a href="#">
								<i class="ti-settings"></i>
								<p>Settings</p>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>


        <div class="content">

            <div class="container-fluid">

              <!--AQUI VA EL CONTENIDO DE LA PÁGINA -->
							<section ng-view></section>

            </div>
        </div>


        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>

                        <li>
                            <a href="http://www.creative-tim.com">
                                Creative Tim
                            </a>
                        </li>
                        <li>
                            <a href="http://blog.creative-tim.com">
                               Blog
                            </a>
                        </li>
                        <li>
                            <a href="http://www.creative-tim.com/license">
                                Licenses
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by <a href="http://www.creative-tim.com">Creative Tim</a>
                </div>
            </div>
        </footer>

    </div>
</div>
<script>
function validateTextNumericInput(key){
		if ((key.keyCode < 97 || key.keyCode > 122) //letras mayusculas
                &&
                (key.keyCode < 65 || key.keyCode > 90) //letras minusculas
                &&
								(key.keyCode<47 || event.keyCode>58)//números
								&&
                (key.keyCode != 45) //retroceso
                &&
                (key.keyCode != 241) //ñ
                &&
                (key.keyCode != 209) //Ñ
                &&
                (key.keyCode != 32) //espacio
                &&
                (key.keyCode != 225) //á
                &&
                (key.keyCode != 233) //é
                &&
                (key.keyCode != 237) //í
                &&
                (key.keyCode != 243) //ó
                &&
                (key.keyCode != 250) //ú
                &&
                (key.keyCode != 193) //Á
                &&
                (key.keyCode != 201) //É
                &&
                (key.keyCode != 205) //Í
                &&
                (key.keyCode != 211) //Ó
                &&
                (key.keyCode != 218) //Ú
            ){
							return false;
						}
						else {
							return true;
						}
  }
  function validateTextInput(key){
		if ((key.keyCode < 97 || key.keyCode > 122) //letras mayusculas
                &&
                (key.keyCode < 65 || key.keyCode > 90) //letras minusculas
                &&
                (key.keyCode != 45) //retroceso
								&&
                (key.keyCode != 241) //ñ
                &&
                (key.keyCode != 209) //Ñ
                &&
                (key.keyCode != 32) //espacio
                &&
                (key.keyCode != 225) //á
                &&
                (key.keyCode != 233) //é
                &&
                (key.keyCode != 237) //í
                &&
                (key.keyCode != 243) //ó
                &&
                (key.keyCode != 250) //ú
                &&
                (key.keyCode != 193) //Á
                &&
                (key.keyCode != 201) //É
                &&
                (key.keyCode != 205) //Í
                &&
                (key.keyCode != 211) //Ó
                &&
                (key.keyCode != 218) //Ú
            ){
							return false;
						}
						else {
							return true;
						}
  }
</script>
</body>

    <!--   Core JS Files   -->
	<script src="/js/moment.min.js" charset="utf-8"></script>
  <script src="/js/jquery-1.10.2.js" type="text/javascript"></script>
	<script src="/js/bootstrap.min.js" type="text/javascript"></script>

	<!-- FullCalendar -->
	<script src="/js/fullcalendar.min.js" charset="utf-8"></script>
  <script src="/js/gcal.js" charset="utf-8"></script>

	<!--  Checkbox, Radio & Switch Plugins -->
	<script src="/js/bootstrap-checkbox-radio.js"></script>

	<!--  Charts Plugin -->
	<script src="/js/chartist.min.js"></script>

	<!-- Datatables -->
    <script src="/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="/vendors/datatables.net-scroller/js/datatables.scroller.min.js"></script>
    <script src="/vendors/jszip/dist/jszip.min.js"></script>
    <script src="/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="/vendors/pdfmake/build/vfs_fonts.js"></script>

    <!--  Notifications Plugin    -->
    <script src="/js/bootstrap-notify.js"></script>

    <!-- Paper Dashboard Core javascript and methods for Demo purpose -->
	<script src="/js/paper-dashboard.js"></script>

	<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
	<script src="/js/demo.js"></script>

	<!-- Angular -->
	<script src="/lib/angular/angular.min.js" charset="utf-8"></script>
	<script src="/lib/angular-route/angular-route.min.js" charset="utf-8"></script>
	<script src="/lib/angular-datatables/demo/src/archives/dist/angular-datatables.min.js" charset="utf-8"></script>
  <script src="/js/ui-bootstrap-tpls-0.9.0.js" charset="utf-8"></script>
  <script src="/js/ui.calendar.js" charset="utf-8"></script>

  <script src="/js/datetimepicker/datetimepicker.js" charset="utf-8"></script>
  <script src="/js/datetimepicker/datetimepicker.templates.js" charset="utf-8"></script>
	<!-- BOOTSTRAP3-DIALOG -->
	<script type="text/javascript" src="/js/bootstrap.dialog.js"></script>

	<script src="/app_Angular/Administrador/administrador.js" charset="utf-8"></script>
	<script src="/app_Angular/Administrador/config/pacientes.routes.js" charset="utf-8"></script>
    <script src="/app_Angular/Administrador/config/centro.routes.js" charset="utf-8"></script>
    <script src="/app_Angular/Administrador/config/paquetes.dieta.routes.js" charset="utf-8"></script>
	<script src="/app_Angular/Administrador/config/citas.routes.js" charset="utf-8"></script>

	<!-- Controladores -->
	<script src="/app_Angular/Administrador/controllers/pacientes.controllers.js" charset="utf-8"></script>
	<script src="/app_Angular/Administrador/controllers/datosControl.controllers.js" charset="utf-8"></script>
	<script src="/app_Angular/Administrador/controllers/planesNutricionales.controllers.js" charset="utf-8"></script>
    <script src="/app_Angular/Administrador/controllers/centro.controllers.js" charset="utf-8"></script>
    <script src="/app_Angular/Administrador/controllers/paquetes.dieta.controllers.js" charset="utf-8"></script>
	<script src="/app_Angular/Administrador/controllers/citas.controllers.js" charset="utf-8"></script>
</html>

<script>
    $(".nav li").on("click", function() {
      $(".nav li").removeClass("active");
      $(this).addClass("active");
    });

</script>